body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    background-image: url('Background.PNG');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    height: auto;
    border: 1px;
}

#header {
    text-align: center;
}

#main-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 30%;

}

#game-board {
display: grid;
grid-template-columns: repeat(20, 22px);
grid-template-rows: repeat(20, 22px);
gap: 1px;
width: fit-content;
border: 1px solid blueviolet;
}


.cell {
    width: 22px;
    height: 22px;


}

.needle {
    background-image: url('head2.PNG');
    background-size: 23px;
}

.gemstone {
    background-image: url('gem.PNG');
    background-size: 23px;
}

#score-display {
    font-family:cursive;
    align-content: center;
    justify-items: center;
    font-weight: bold;
    font-size: 30px;
    color: blueviolet;

}